/* - - - - - - - - - - - - - - - - - - - */
/* Boxes */

.sel_box .box_section, .sel_box .box_section_link{
    display: inline-block;
    padding: 10px;
    background-color: var(--boxBackground);
    box-shadow: 0px 0px 10px gray;
    overflow: hidden;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.sel_box .box_section .box_content, .sel_box .box_section_link a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.sel_box .box_section .box_content img, .sel_box .box_section_link img{
    max-width: 450px;
    max-height: 450px;
}

.sel_box .box_section_link:hover {
    background-color: var(--navBackgroundHover);
    transition-duration: 0.2s;
}