/* - - - - - - - - - - - - - - - - - - - */
/* Boxes */

.sel_box .box_section{
    display: inline-block;
    padding: 10px;
}

.sel_box .box_section .box_content, .sel_box .box_section .box_content_link a{
    background-color: var(--boxBackground);
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    overflow: hidden;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.sel_box .box_content_link a:hover {
    background-color: var(--navBackgroundHover);
    transition-duration: 0.2s;
}